<h1>About</h1>
<p>
  Development of this project was made possible by the
  <a href="http://www.railstutorial.org/">Ruby on Rails
  Tutorial</a> and the <a href="http://railsforzombies.org">Rails for Zombies
  </a> course. Those two resources were invaluable to me in completing this
  project in a reasonable amount of time. I highly recommend both of them.
</p>