<footer class="footer">
  <small>
    This project is available on <a href="https://github.com/drakimon/gwent_app">Github</a>
    and was developed as an undergraduate capstone project by <a href="https://github.com/drakimon">Drake Stillman</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
    </ul>
  </nav>
</footer>